@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    font-family: 'Source Sans Pro', sans-serif;
}


header {
    background-color: #00353f;
}

.about {
    background-image: url("../images/code-coding-computer-270373.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.about p {
    font-weight: bold;
}



.portfolio {
    background-image: url("../images/ai-artificial-intelligence-codes-247791.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.experience {
    background-image: url("../images/architecture-bridge-dark-1635439.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social {
    background-image: url("../images/black-and-white-cars-city-6732.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    padding-top: 1.45rem;
    margin-top: 80px;
}

.social-icons a:hover {
    background-color: lightslategray !important;
}

.text-container {
    background-color: lightcyan;
    opacity: 0.8;
    width: 75%;
    margin: auto;
    padding: 5%;
    position: relative;
    box-shadow: 7px 7px 5px 0px rgb(50, 50, 50);
    margin: 25px;
    border: 2px solid black;
}


section .text-container:first-child{
    text-align: left;
}

section .text-container:nth-child(even){
    text-align: right;
}

section .text-container:nth-child(odd) img {
    order: 2;
}

section.about .text-container {
    text-align: center;
}

@media screen and (max-width: 600px){
    .xp-flex {
        flex-direction: column;
    }
}

.links-container {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 30px;
    row-gap: 3rem;
    grid-auto-columns: auto;
}

@media screen and (max-width: 450px) {
    .links-container {
        grid-template-columns: 100%;
    }
}

.social-link {
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    min-width: 122px;
}

.social-link:hover {
    background-color: #fff;
    color: black;
    text-decoration: underline;
    border: 1px solid black;
}

.heading {
    color: 'snow';
    background-color: "black";
    padding: "20px";
}

footer {
    padding: 5px;
    background-color: black;
    color: #fff;
    font-size: 0.7rem;
}
